.main{
    background-color: rgb(75, 75, 75);
    display: grid;
    grid-template-rows: 30% 70%;
    width: 500px;
    /* height: fit-content; */
    padding-bottom: 50px;
    margin: auto;
    .inp{
        width: 490px;
        background-color: gray;
        color: white;
        font-size: 70px;
        height: fit-content;
        padding: 50px 0;
        text-align: center;
    }
    
}
.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;  
    gap: 10px;
    justify-content: center;
    button:hover{
            background-color: rgb(122, 122, 122);
    }
    button{
        display: inline-block;
        background-color: rgb(114, 114, 114);
        border-radius: 100%;
        border: none;
        color: rgb(244, 244, 244);
        font-size: 50px;
        width: 100px;
        height: 100px;
    }
    button.btn-y:hover{
        background-color: rgb(255, 209, 56) !important;
}
button.btn-y{
    display: inline-block;
    background-color: rgb(255, 196, 0) !important;
    border-radius: 100%;
    border: none;
    color: rgb(244, 244, 244);
    font-size: 50px;
}
}